<div class="col-md-4" *ngFor="let game of games">
  <div class="card text-center">
    <div class="card-header d-flex justify-content-between align-item-center bg-dark text-white">
      {{game.title}}
      <button class="btn btn-danger" (click)="deleteGame(game.id)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <img [src]="game.image" class="card-img-top" alt="">
    <div class="card-body">
      <p>{{game.description}}</p>
      <a class="btn btn-info btn-block" [routerLink] ="['/games/edit', game.id]">
        EDIT GAME
      </a>
    </div>
  </div>
</div>
